{% load staticfiles %}
{% url "groups" as groups %}
{% url "journal" as journal %}
{% url "exams" as exams %}
{% url "home" as home %}
{% url "contact_admin" as contact_admin %}

<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8" />
	<title>{% block meta_title %}Сервіс Обліку Студентів
	{% endblock meta_title %}</title>

    {% block css %}
	<!-- METADATA Section -->
	<meta name="description"
		  value="Система обліку Студентів Навчального Закладу" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1">

	<!-- Styles Section -->
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css"/>
	<link rel="stylesheet"
		  type="text/css"
		  href="{{ PORTAL_URL }}{% static "css/main.css" %}">

	{% endblock css %}



</head>
<body>

	<!-- Start Container -->
	<div class="container">

		<!-- Start Header -->
		<div class="row" id="header">

			<!-- LOGO -->
			<div class="col-xs-8">
				<h1>{% block logo %}

				{% endblock logo %}</h1>
			</div>

			<!-- Groups selector-->
			<div class="col-xs-4" id="group-selector">
				<strong>Група:</strong>
				<select>
					{% for group in GROUPS %}
                    <option value="{{ group.id }}" {% if group.selected %}selected="1"{% endif %}>
                        {{ group.title }} {% if group.leader %}- {{ group.leader }}                         
                        {% endif %}
                    </option>    
                    {% endfor %}
				</select>
			</div>
		</div>
		<!-- End Header-->

		<!-- Start Subheader -->
		<div class="row" id="sub-header">
			<div class="col-xs-12">
				<ul class="nav nav-tabs">
  					<li role="presentation"
  						class="{% ifequal request.path home %}active{% endifequal %}{% if 'students' in request.path %}active{% endif %}">
  						 <a href="{% url "home" %}">
  						 	Студенти
  						 </a>
  					</li>
  					<li role="presentation"
  						class="{% if journal in request.path %}active{% endif %}">
  						<a href="{% url "journal" %}">
  							Відвідування
  						</a>
  					</li>
  					<li role="presentation"
  						class="{% if groups in request.path %}active{% endif %}">
  						<a href="{% url "groups" %}">
  							Групи
  						</a>
  					</li>
  					<li role="presentation"
  						class="{% if exams in request.path %}active{% endif %}">
						<a href="{% url "exams" %}">
							Іспити
						</a>
  					</li>
  					<li role="presentation"
  						class="{% if contact_admin in request.path %}active{% endif %}">
  						<a href="{% url "contact_admin" %}">
  							Контакти
  						</a>
  					</li>
				</ul>
			</div>
		</div>
		<!-- End Subheader -->

		<!-- Start MAIN content-->
		<div class="row" id="content-columns">

			<div class="col-xs-12" id="content-column">
				{% block status_message %}
					

				<!-- Status message -->
				{% if request.GET.status_message %}
					
				
				<div class="alert alert-warning">
					{{ request.GET.status_message }}
				</div>
				{% endif %}
				{% endblock status_message %}

					<h2> {% block title %}{% endblock title %} </h2>
				{% block content %}
				{% endblock content %}
			</div>
		</div>
		<!-- END Main Content -->

		<!-- Start footer -->
		<div class="row" id="footer">

			<div class="col-xs-12">
				&copy; 2015 Сервіс Обліку Студентів
			</div>

		</div>
		<!-- End footer -->
	</div>
	<!-- End Container -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
        
    {% block js %}    

	<!-- Javascripts Section -->
	    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
        <script src="{% static 'js/JQUERY_COOKIE/jquery.cookie.js' %}"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>

    {% endblock js %}
</body>
</html>
