{% load staticfiles %}
{% url "home" as home %}
{% url "groups" as groups %}
{% url "journal" as journal %}
{% url "exams" as exams %}
{% url "contact_admin" as contact_admin %}

<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8" />
	<title>{% block meta_title %}Сервіс Обліку Студентів
	{% endblock meta_title %}</title>

    {% block css %}
	<!-- METADATA Section -->
	<meta name="description"
		  value="Система обліку Студентів Навчального Закладу" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1">

	<!-- Styles Section -->
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet"
		  type="text/css"
		  href="{{ PORTAL_URL }}{% static "css/main.css" %}">

	<!-- This is only a TEST style to show the element borders -->
	<!--<style type="text/css">
			.col-xs-12, .col-xs-8, .col-xs-4{
				border: 1px solid red;
			}
		</style>
	-->

	{% endblock css %}

</head>
<body>

	<!-- Start Container -->
	<div class="container">

		<!-- Start Header -->
		<div class="row" id="header">

			<!-- LOGO -->
			<div class="col-xs-8">
				<h1>{% block logo %}

				{% endblock logo %}</h1>
			</div>

			<!-- Groups selector-->
			<div class="col-xs-4" id="group-selector">
				<strong>Група:</strong>
				<select>
					<option value=""> Усі студенти</option>
					<option value="">
						ПМ-21
					</option>
					<option value="">
						ПМ-22
					</option>
				</select>
			</div>
		</div>
		<!-- End Header-->

		<!-- Start Subheader -->
		<div class="row" id="sub-header">
			<div class="col-xs-12">
				<ul class="nav nav-tabs">
  					<li role="presentation"
  						class="{% ifequal home request.path %}active{% endifequal %}">
  						 <a href="{% url "home" %}">
  						 	Студенти
  						 </a>
  					</li>
  					<li role="presentation"
  						class="{% if journal in request.path %}active{% endif %}">
  						<a href="{% url "journal" %}">
  							Відвідування
  						</a>
  					</li>
  					<li role="presentation"
  						class="{% if groups in request.path %}active{% endif %}">
  						<a href="{% url "groups" %}">
  							Групи
  						</a>
  					</li>
  					<li role="presentstion"
  						class="{% if exams in request.path %}active{% endif %}">
						<a href="{% url "exams" %}">
							Іспити
						</a>
  					</li>
  					<li role="presentation"
  						class="{% if contact_admin in request.path %}active{% endif %}">
  						<a href="{% url "contact_admin" %}">
  							Контакти
  						</a>
  					</li>
				</ul>
			</div>
		</div>
		<!-- End Subheader -->

		<!-- Start MAIN content-->
		<div class="row" id="content-columns">

			<div class="col-xs-12" id="content-column">
				{% block status_message %}
					

				<!-- Status message -->
				{% if request.GET.status_message %}
					
				
				<div class="alert alert-warning">
					{{ request.GET.status_message }}
				</div>
				{% endif %}
				{% endblock status_message %}

					<h2> {% block title %}{% endblock title %} </h2>
				{% block content %}
				{% endblock content %}
			</div>
		</div>
		<!-- END Main Content -->

		<!-- Start footer -->
		<div class="row" id="footer">

			<div class="col-xs-12">
				&copy; 2015 Сервіс Обліку Студентів
			</div>

		</div>
		<!-- End footer -->
	</div>
	<!-- End Container -->

        
    {% block js %}    

	<!-- Javascripts Section -->
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>



	{% endblock js %}
</body>
</html>
