/* Global Styles */

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

/* Making alert widgets to step off the upper border */
.alert {
	margin-top: 10px;
}

/* Making footer separator */
#footer {
	/* Верхня межа: ширина, тип лінії, колір */
	border-top: 1px solid #dddddd;
	/* Задаємо внутрішню відстань елемента до верхнього краю */
	padding-top: 10px;
}

/* Fixing the group selector */

#group-selector {
	margin: 10px 0;
}

#ajax-progress-indicator {
	display: none;
}
#ajax-error-handling {
	display: none;
}

#group-selector select {
	margin: 0;
	width: 85%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	color: #555555;
}

td.day-box,
th.day-header {
	padding: 4px !important;
	vertical-align: middle;
	text-align: center;
}

textarea,
select,
input
{
	max-width: 300px;
}
